
.button {
    @include medium;
    font-size: 1.4rem;
    line-height: 100%;
    text-transform: uppercase;
    padding: 1.6rem 2.4rem 1.4rem 2.4rem;
    min-width: 17.5rem;
    border: $border;
    transition: $transition;

    @include tablet {
        font-size: 1.6rem;
        line-height: 120%;
    }

    &_secondary {
        background: $white;

        &:hover {
            background: $black;
            color: $white;
        }
    }
}

.link {
    transition: $transition;
    border-bottom: 1px solid $white;
    display: flex;
    align-items: center;
    width: max-content;
    gap: 0.4rem;

    span {
        @include semibold;
        font-size: 1.4rem;
        line-height: 120%;
    }
    
    &:active {
        border-bottom: $border;
    }

    &:disabled {
        color: $lightGray;
    }

    @include tablet {
        font-size: 1.6rem;
    }

    &:hover {
        @include desktop {
            color: $gray;
            border-bottom: $border;
        }
    }

    
}