@use "../abstracts" as *;

.section-parallax {
    position: relative;
    color: $white;
    background-image: url("../assets/images/Service_2_Section.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    p {
        max-width: 55rem;
    }

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: $black;
        opacity: 0.4;
        z-index: 0;
        top: 0;
        left: 0;
    }

    &__content {
        position: relative;
        z-index: 1000;
    }
}