@use "../abstracts" as *;

.card {
    height: 50vw;
    border-left: $border;
    border-bottom: $border;

    @include desktop {
        height: calc((100vh - 70px)/2);
        //width: 25vw;
    }

    &__tab {
        height: 100vw;

        @include tablet {
            height: 50vw;
        }

        @include desktop {
            height: calc((100vh - 70px)/2);
            //width: 25vw;
        }
    }

    &-category {
        padding: 1.2rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: end;

        @include tablet {
            padding: 2.4rem;
        }

        &__title {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    &_center {        

        @include tablet {
            @include center;
            flex-direction: column;
            height: 40vw;
        }

        @include desktop {
            height: 20vw;
        }
    }

    &__image {
        overflow: hidden;
    }

    &__image img{
        transition: $transition;
        scale: 1;
    }

    @include desktop {
        &__image:hover img {
            scale: 1.2;
        }
    }
    
    &-prod {
        position: relative;

        &_description {
            position: absolute;
            bottom: 1.2rem;
            left: 50%;
            transform: translate(-50%, 0);
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            align-items: center;

            @include tablet {
                bottom: 2.4rem;
            }

            & p:last-child {
                color: $gray;
            }
        }
    }
}

.element {
    border-left: $border;
    border-bottom: $border;

    &_center {
        @include center;
    }

    &_center-tab {

        @include tablet {
            @include center;
        }
    }
}

.image {
    height: 107vw;
    overflow: hidden;

    @include tablet {
        height: 65vw;
    }

    @include desktop {
        height: calc(100vh - 6.9rem);
    }

    & > div {
        height: 100%;
    }
}

.product {
    @include column;
    gap: 4rem;
    padding: 4rem 1.6rem;
    border-bottom: $border;
    border-left: $border;

    @include tablet {
        padding: 4rem;
    }

    &__wrap {
        @include column;
        gap: 2.4rem;
    }

    &__sec {
        @include column;
        gap: 1.6rem;
    }

    &__title {
        @include column;
        gap: 0.8rem;

        @include tablet {
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    &__slider {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__image {
        border: 1px solid $lightGray;
        object-fit: contain;

        @include tablet {
            width: 10rem;
            height: 10rem;
        }
    }

    &__disc {
        @include column;
        gap: 0.4rem;
        
    }

    &__comb {
        @include column;
        gap: 0.8rem;
        width: 20rem;
        height: 20rem;

        @include tablet {
            width: auto;
            height: auto;
        }
    }
}

.slider {
    &__content {
        width: 20rem;
        overflow: hidden;

        @include tablet {
            width: auto;
            display: flex;
            gap: 1.6rem;
        }
    }

    &__wrap {
        display: flex;
        gap: 1.6rem;
        width: 1000px;

        @include tablet {
            width: auto;
        }
    }
}

.image {

    &_size-s {
        width: 16rem;
        height: 16rem;
        border: $border;
    }
}