@use "../abstracts" as *;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000000s ease-in-out 0s;
}

.input {
    border: 1px solid $lightGray;
    border-radius: none;
    -webkit-border-radius: none;
    @include medium;
    font-size: 1.4rem;
    line-height: 120%;
    color: $black;
    padding: 1.2rem 1.6rem;
    outline: 1px solid $white;
    transition: $transition;
    width: auto;

    &::placeholder {
        @include medium;
        font-size: 1.4rem;
        line-height: 120%;
        color: $gray;
    }

    &:focus {
        outline: 1px solid $gray;
        border: 1px solid $gray;
    }

    &:valid {
        border: 1px solid $gray;
    }

    @include desktop {
        &:hover {
            border: 1px solid $gray;
        }
    }

    @include tablet {
        padding: 1.6rem;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    &_wide-tab {

        @include tablet {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.6rem;
            justify-content: space-between;
        }
    }
}

.radio {
    display: flex;
    gap: 15px;
    cursor: pointer;
    position: relative;
    align-items: center;
}
.radio__button:not(:checked),
.radio__button:checked {
   width: 0;
   height: 0;
   position: absolute;
}
.radio__button:not(:checked) + .radio__label,
.radio__button:checked + .radio__label {
    line-height: 2.5rem;
    position: relative;
    padding-left: 3.6rem;
    cursor: pointer;
}
.radio__button:not(:checked) + .radio__label::before,
.radio__button:checked + .radio__label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2.4rem;
    height: 2.4rem;
    border: $border;
    border-radius: 50%;
    background-color: $lightGray;
}
.radio__button:not(:checked) + .radio__label::after,
.radio__button:checked + .radio__label::after {
    content: "";
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background: $black;
    transition: $transition;
}
.radio__button:not(:checked) + .radio__label::after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radio__button:checked + .radio__label::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.qty {
    display: flex;
    align-items: center;
    width: 14.6rem;
    height: 4.4rem;
    border-top: $border;
    border-bottom: $border;
    justify-content: space-between;

    &__feild {
        @include center;
        text-align: center;
        border: none;
        height: 100%;

        &:focus {
            border: none;
            outline: none;
        }

        &::-webkit-outer-spin-button,
	    &::-webkit-inner-spin-button {
		    appearance: none;
		    margin: 0;
	   }
    }

    &__button {
        @include center;
        width: 4.4rem;
        border-right: $border;
        border-left: $border;
        height: 100%;
    }

    
}
