@use "../abstracts" as *;

.icon {
    width: 2.4rem;
    height: 2.4rem;
}

.icon_size-l {
    width: 4rem;
    height: 4rem;
}

.icon-minus {
    height: auto;
    width: 1.9rem;
}

.icons {
    display: flex;
    gap: 3.2rem;
}