@use "../abstracts" as *;

.section {

    border-right: $border;

    &_bottom {
        border-bottom: $border;
    }

    &_left {
        border-left: $border;
    }

    &__column {
        padding: 4rem 1.6rem;
        border-bottom: $border;
        border-left: $border;

        @include tablet {
            padding: 8rem;
        }

        @include desktop {
            //width: 50vw;
        }

        &_sticky {
            @include desktop {
                position: sticky;
                align-self: start;
                top: 6.9rem;
                height: calc(100vh - 6.92rem);
            }
        }

        &_small {
            height: auto;

            @include desktop {
                border-bottom: none;

                @include desktop {
                    border-left: none;
                }
            }
            
        }

        &_noborder {
            border-bottom: none;
        }
    }

    &_double {
        //border-right: $border;

        @include desktop {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    &_double-mob {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &_double-tab {

        display: flex;
        flex-direction: column;

        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    &__title {
        padding: 1.6rem;  

        @include tablet {
            @include center;
        }
    }

    &__subheader {
        margin-bottom: 2.4rem;
    }

    &__description {
        margin-bottom: 1.6rem;
    }

    &__button {
        margin-top: 6.4rem;
    }

    &_center {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //align-items: center;

        @include tablet {
            align-items: center;
        }
    }

    &_image {
        height: 107vw;

    @include tablet {
        height: 65vw;
    }

    @include desktop {
        height: calc(100vh - 6.9rem);
        min-height: 79.3rem;
    }
    }

    &_centered {
        @include center;
        border-right: $border;
    }

    &_sticky {
        @include desktop {
            border-left: $border;
        }
    }

}