.section-contact {

    &__links {
        padding: 0.8rem 1.6rem 1.6rem 1.6rem;

        @include tablet {
            @include center;
            padding: 1.6rem;
        }

    }

    &__follow {
        padding: 1.6rem 1.6rem 0.8rem 1.6rem;
        @include tablet {
            @include center;
            padding: 1.6rem;
            border-right: $border;
        }
    }

    &__info {
        
        @include desktop {
            order: -1;
        }
    }


    &__image {
        height: calc(100vh - 7rem - 10.62rem);

        @include tablet {
            height: 65vw;
        }

        @include desktop {
            height: calc(100vh - 7rem - 7.86rem);
        }
    }

    &__element {
        border-left: $border;
        border-bottom: $border;
        padding: 4rem 1.6rem;

        @include desktop {
            height: calc((100vh - 7rem - 7.86rem)/2);
        }
    }

    &__title {
        padding: 4rem 1.6rem;

        @include tablet {
            padding: 8rem;
        }
    }
}